<div *ngIf="patient" class="profile-container">
  <div class="profile-header">
    <img
      [src]="patient?.image || 'https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_960_720.png'"
      alt="Imagen del paciente"
      class="profile-image"
    />
    <div class="profile-name">
      <h2>{{ patient?.fullName }}</h2>
    </div>
  </div>
  <div class="profile-details">
    <div class="detail-item">
      <span class="label">Género:</span>
      <span>{{ patient?.gender }}</span>
    </div>
    <div class="detail-item">
      <span class="label">Tipo de sangre:</span>
      <span>{{ patient?.typeOfBlood }}</span>
    </div>
  </div>
</div>
