.notification-container {
  padding: 16px;
  border-radius: 8px;
  max-width: 600px;
  margin: 0 auto;
  background-color: #f3e5f5; /* Fondo violeta claro */
  border: 1px solid #ab47bc; /* Borde púrpura */
  color: #6a1b9a;
}


.notification-title {
  color: #8e24aa; /* Título púrpura */
}

.notification-message {
  color: #7b1fa2; /* Mensaje morado */
}

.notification-container h2 {
  margin-bottom: 16px;
}

.notification-container ul {
  list-style: none;
  padding: 0;
}

.notification-container li {
  background: #e0e0e0;
  padding: 12px;
  margin-bottom: 8px;
  border-radius: 8px;
}
