<div class="patient-history">
  <div class="history-container">
    <h2>Personal History: </h2>
    <!-- Contenido estático para Personal History -->
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
  </div>
  <div class="history-container">
    <h2>Family History: </h2>
    <!-- Contenido estático para Family History -->
    <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
  </div>
</div>
