.app-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 16px;
  background-color: #6D46B8;
  height: 60px;
  border-bottom: 1px solid #ddd;
}

.menu-button, .notification-button {
  background: none;
  border: none;
  font-size: 20px;
  cursor: pointer;
  color: #333;
}

.menu-button i, .notification-button i {
  font-size: 24px; /* Tamaño del ícono */
}

.logo {
  height: 40px;
  background-color: #ffffff;
  margin-right: auto;
}

.user-avatar {
  height: 40px;
  border-radius: 50%;
  cursor: pointer;
}
