<div class="doctor-profile-container" *ngIf="doctor">
  <img class="doctor-profile-img" [src]="doctor.image" alt="Doctor Image" width="64" height="64" />
  <div class="doctor-profile-info">
    <h1 class="doctor-profile-name">{{ doctor.fullName }}</h1>
    <div class="doctor-profile-data">
      <span><strong>Birthday:</strong> {{ doctor.birthday }}</span>
      <span><strong>Gender:</strong> {{ doctor.gender }}</span>
      <span><strong>Phone:</strong> {{ doctor.phoneNumber }}</span>
    </div>
    <div class="doctor-specific-data">
      <span><strong>RNE:</strong> {{ doctor.professionalIdentificationNumber }}</span>
      <span><strong>Subspecialty:</strong> {{ doctor.subSpecialty }}</span>
    </div>
  </div>
</div>
