<div class="role-selection">
  <h2>Selecciona tu rol</h2>

  <div class="roles">
    <img
      ngSrc="/patient.png"
      alt="Paciente"
      [class.selected]="selectedRole === 'ROLE_PATIENT'"
      (click)="selectRole('ROLE_PATIENT')"
      height="193" width="207"/>

    <img
      src="/doctor.png"
      alt="Doctor"
      [class.selected]="selectedRole === 'ROLE_DOCTOR'"
      (click)="selectRole('ROLE_DOCTOR')"
    />
  </div>

  <button [disabled]="!selectedRole" (click)="submit()">Continuar</button>
</div>
