<div class="medical-tests">
  <!-- Clase de prueba 1 -->
  <div class="test-class">
    <h2>Blood Tests</h2>
    <div class="test-box">
      <span class="test-name">Complete Blood Count</span>
      <div class="test-actions">
        <span class="test-date">01/10/2023</span>
        <button class="download-button">
          <i class="fa fa-download"></i>
        </button>
      </div>
    </div>
    <div class="test-box">
      <span class="test-name">Lipid Panel</span>
      <div class="test-actions">
        <span class="test-date">15/09/2023</span>
        <button class="download-button">
          <i class="fa fa-download"></i>
        </button>
      </div>
    </div>
  </div>

  <!-- Clase de prueba 2 -->
  <div class="test-class">
    <h2>Imaging Tests</h2>
    <div class="test-box">
      <span class="test-name">Chest X-Ray</span>
      <div class="test-actions">
        <span class="test-date">20/08/2023</span>
        <button class="download-button">
          <i class="fa fa-download"></i>
        </button>
      </div>
