.menu {
  position: relative;
  padding-top: 17px;
  margin-bottom: 20px; /* Espacio entre los enlaces y la línea */
}

.menu::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #949494; /* Color gris para la línea */
}

.menu a {
  display: inline-block;
  padding: 10px 20px;
  text-decoration: none;
  color: gray; /* Color gris para los enlaces no seleccionados */
  transition: color 0.3s ease, font-weight 0.3s ease;
  padding-left: 7px;
  margin-right: 20px;
}

.menu a.router-link-active {
  color: black; /* Color negro para el enlace seleccionado */
  font-weight: bold; /* Negritas para el enlace seleccionado */
}
