.app-sidebar {
  width: 80px; /* Sidebar más angosto */
  background-color: #ffffff; /* Fondo oscuro similar a YouTube */
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 16px 0;
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

nav ul li {
  margin-bottom: 16px;
}

nav ul li a {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
  color: #000000; /* Color blanco para los íconos y texto */
  font-size: 12px; /* Tamaño de texto más pequeño */
}

nav ul li a:hover {
  color: #6c63ff; /* Color de hover */
}

nav ul li a.router-link-active {
  color: #6c63ff; /* Color para el ícono activo */
}

/* footer {
  margin-top: auto;
  text-align: center;
  color: #000000;
  font-size: 10px;
} */
