<div class="app-sidebar">
  <nav>
    <ul>
      <li>
        <a routerLink="/home" routerLinkActive="router-link-active">
          <i class="material-icons">home</i> Home
        </a>
      </li>
      <li>
        <a [routerLink]="getPatientsLink()" routerLinkActive="router-link-active">
          <i class="material-icons">groups</i> {{ getPatientsText() }}
        </a>
      </li>
      <li>
        <a routerLink="/schedule" routerLinkActive="router-link-active">
          <i class="material-icons">calendar_month</i> Schedule
        </a>
      </li>
      <li>
        <a routerLink="/chats" routerLinkActive="router-link-active">
          <i class="material-icons">chat</i> Chats
        </a>
      </li>
      <li>
        <a routerLink="/notifications" routerLinkActive="router-link-active">
          <i class="material-icons">notifications</i> Notifications
        </a>
      </li>
      <li>
        <a routerLink="/profile" routerLinkActive="router-link-active">
          <i class="material-icons">person</i> Profile
        </a>
      </li>
      <li>
        <a (click)="toggleBackgroundColor()">
          <i class="material-icons">light_mode</i> Light Mode
        </a>
      </li>
      <li>
        <a routerLink="/view-plans" routerLinkActive="router-link-active">
          <i class="material-icons">grade</i> View Plans
        </a>
      </li>
    </ul>
  </nav>

  <footer>
    <p>Copyright toiota</p>
  </footer>
</div>
