.app-sidebar {
  width: 250px;
  background-color: #ffffff; /* Cambiado a blanco */
  height: 100vh;
  display: flex;
  flex-direction: column;
  padding: 16px;
}
nav ul {
  list-style: none;
  padding: 0;
}
nav ul li {
  margin-bottom: 16px;
}
.patients-section {


}

.patients-section ul {
  list-style-type: none;
  padding-left: 0;
}
.settings-section {
  margin-top: auto;
}
