<div *ngIf="patient">
  <img [src]="patient.image" alt="Patient Image" width="100" height="100" />
  <h2>{{ patient.fullName }}</h2>
  <p><strong>Género:</strong> {{ patient.gender }}</p>
  <p><strong>Teléfono:</strong> {{ patient.phoneNumber }}</p>
  <p><strong>Fecha de nacimiento:</strong> {{ patient.birthday }}</p>
  <p><strong>Tipo de sangre:</strong> {{ patient.typeOfBlood }}</p>
  <p><strong>Historia personal:</strong> {{ patient.personalHistory }}</p>
  <p><strong>Historia familiar:</strong> {{ patient.familyHistory }}</p>
  <p><strong>ID de doctor:</strong> {{ patient.doctorId }}</p>
  <p><strong>ID de perfil:</strong> {{ patient.profileId }}</p>
</div>
