<div class="patient-profile-container" *ngIf="patient">
  <img class="patient-profile-img" [src]="patient.image" alt="Patient Image" width="64" height="64" />
  <div class="patient-profile-info">
    <h1 class="patient-profile-name">{{ patient.fullName }}</h1>
    <div class="patient-profile-data">
      <span><strong>Birthday:</strong> {{ patient.birthday }}</span>
      <span><strong>Gender:</strong> {{ patient.gender }}</span>
      <span><strong>Phone:</strong> {{ patient.phoneNumber }}</span>
    </div>
    <div class="patient-specific-data">
      <span><strong>Type of Blood:</strong> {{ patient.typeOfBlood }}</span>
    </div>
  </div>
</div>
